/* Add this to your App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

.header-title {
  font-size: 2em;
  font-weight: bold;
  flex-grow: 1; 
  text-align: left; 
}

.header-form {
  flex-grow: 0; 
}

.header-form form {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.header-form input[type="text"],
.header-form input[type="password"] {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em; /* Adjust font size for better readability */
}

.header-form input[type="submit"] {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #002379;
  color: white;
  cursor: pointer;
  font-size: 1em; /* Adjust font size for better readability */
}

.header-form input[type="submit"]:hover {
  background-color: #FF5F00;
}

.gig-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust the gap as needed */
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .header-form {
    width: 100%;
    justify-content: center;
  }

  .header-form form {
    width: 100%;
    justify-content: center;
  }

  .header-form input[type="text"],
  .header-form input[type="password"],
  .header-form input[type="submit"] {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .header-form input[type="submit"] {
    width: auto;
  }

  .gig-container {
    flex-direction: column;
    align-items: center;
  }

  .gig {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.5em;
  }

  .header-form input[type="text"],
  .header-form input[type="password"],
  .header-form input[type="submit"] {
    font-size: 0.9em;
  }
}
